body {
    padding-top:50px;
    background-color: #2c2c54;
}
.payment{
    text-align: center;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-family: Member;
    font-size: 40px;
}
@font-face {
    font-family: Member;
    src: url(../fonts/Member.otf);
}
.outer-div {
    background-color: #fbfbfb;
    border: thin solid #ccc;
    border-radius: 4px;
    padding: 20px;
    height: 90vh;
}
.btn-primary {
    margin-top: 50px;
    background-color: #2c2c54;
}
.my-div {
    margin: 0 auto;
    width: 80%;
}
.nav-pills .nav-link.active{
    background-color: #2c2c54;
}
a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}
.btn-primary:hover {
    background-color: #40407a;
}
.btn-back{
    background-color: #ddd;
    color: #000;
}
.confirm{
    margin-top: 100px;
    margin-left: 20px;
}
.split-buttons {
    display: flex;
    justify-content: flex-end;
}
.btn-back:hover{
    background-color: gray;
}